.fullHeight {
    min-height: 100vh;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flexGrow {
    flex-grow: 1;
}

.noMarginTop {
    margin-top: 0 !important;
}

.inheritBg {
    background-color: inherit !important;
}

.minWidth {
    min-width: 14em;
}
